@charset "utf-8";

* {
    box-sizing: border-box;
    
}
.black-han-sans-regular {
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* https://fonts.google.com/selection/embed */

body {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 40px;

  background-color: #ffffff;
}

header h1 {
    font: 16px;
    border: 800;
}

header ul > li {
  font-size: 12px;
  font-weight: 500;
}

header a {
    text-decoration: none;
}

/* ✅ main ✅ */
main {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

section {
  width: 600px;
  margin-top: 20px;
}